{
    'presets': [
        'es2015'
    ],
    'plugins': [
        'transform-object-rest-spread',
        'transform-flow-strip-types',
        'syntax-flow',
        'transform-remove-debugger',
        'transform-remove-console',
        'transform-undefined-to-void',
        'babel-plugin-rewire',
        'check-es2015-constants'
    ]
}
